<link rel="stylesheet" href="~/css/Customer.css" />
@using Microsoft.AspNetCore.Http;
@model MovieRental.Models.Customer

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER)
    {
        Context.Response.Redirect("/Customers/Login");
    }
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<section class="fade-in-animation">
    <div class="card customer-card">
        <div class="card-title">
            <h3>@Model.FirstName @Model.FamilyName</h3>
        </div>
        <div class="card-content">
            <section id="detials-columns-container" class="row">
                <div id="detials-title-column">
                    <span class="column-text">@Html.DisplayNameFor(model => model.PersonalId): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.FirstName): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.FamilyName): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Email): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.PhoneNumber): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Address): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Gender): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Birthday): </span>
                </div>

                <div id="detials-values-column">
                    <span class="column-text">@Html.DisplayFor(model => model.PersonalId) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.FirstName) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.FamilyName) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Email) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.PhoneNumber) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Address) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Gender) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Birthday) </span>
                </div>
            </section>
        </div>
    </div>
</section>