<link rel="stylesheet" href="~/css/Customer.css" />
@using Microsoft.AspNetCore.Http;
@model IEnumerable<MovieRental.Models.Customer>

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || (loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER && loggedInUserRoleId != (int)MovieRental.General.Roles.STORE_OWNER))
    {
        Context.Response.Redirect("/Customers/Login");
    }
}

@{
    ViewBag.Title = "Customers";
}

<button class="btn btn-primary" id="expandFilters" style="margin-bottom:10px">
    Filters
</button>
<section id="filters" hidden style="margin-bottom:10px">
    <form action="/Customers/Search" method="post">
        <div class="row">
            <div class="col-sm-2">
                Id: <input type="text" name="PersonalId" class="form-control">
            </div>
            <div class="col-sm-2">
                First Name: <input type="text" name="FirstName" class="form-control">
            </div>
            <div class="col-sm-2">
                Family Name: <input type="text" name="FamilyName" class="form-control">
            </div>
            <div class="col-sm-2">
                Age: <input type="text" name="Age" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" style="margin-top:16px">
                    Search
                </button>
            </div>
        </div>
    </form>
</section>

<section class="fade-in-animation">
    <h1 id="customersTitle">Customers</h1>
    <section class="table-wrapper card">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>
                        <span> @Html.DisplayNameFor(model => model.PersonalId) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.FirstName) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.FamilyName) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Email) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.PhoneNumber) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Address) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Gender) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Birthday) </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-row" data-item-id="@item.CustomerId">
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.PersonalId)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.FamilyName)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td class="table-cell">
                            @Html.ActionLink(" ", "Edit", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-pencil Icon" })
                            @Html.ActionLink(" ", "Delete", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-trash Icon" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div id="add-customer-fab" class="fab"> + </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#expandFilters').click(function () {
            if ($('#filters').css('display') !== 'block') {
               $('#filters').css('display', 'block');
            } else {
                $('#filters').css('display', 'none');
            }
        });

        $(".table-row").click(function () {
            window.location = "Customers/Details/" + $(this).data("item-id");
        });

        $("#add-customer-fab").click(function () {
             window.location = "Customers/Create";
        });
    });
</script>
