<link rel="stylesheet" href="~/css/Loans.css" />

@using Microsoft.AspNetCore.Http;
@model MovieRental.Models.Loan

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER)
    {
        Context.Response.Redirect("/Loans/Login");
    }
}

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="fade-in-animation">
        <div class="card loan-card" id="delete-loan-card">
            <div class="card-title">
                <h3>Delete</h3>
            </div>
            <div class="card-content">
                <section id="details-columns-container" class="row">
                    <div id="details-title-column">
                        <span class="column-text">@Html.DisplayNameFor(model => model.Movie.Name): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.Customer.PersonalId): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.LoanDate): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.ReturnDate): </span>
                    </div>

                    <div id="details-values-column">
                        <span class="column-text">@Html.DisplayFor(model => model.Movie.Name) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.Customer.PersonalId) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.LoanDate) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.ReturnDate) </span>
                    </div>
                </section>

                <input id="delete-button" type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </section>
}
