<link rel="stylesheet" href="~/css/Loans.css" />

@using Microsoft.AspNetCore.Http;
@model IEnumerable<MovieRental.Models.Loan>

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || (loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER && loggedInUserRoleId != (int)MovieRental.General.Roles.STORE_OWNER))
    {
        Context.Response.Redirect("/Loans/Login");
    }
}

@{
    ViewBag.Title = "Loans";
}

<button class="btn btn-primary" id="expandFilters" style="margin-bottom:10px">
    Filters
</button>
<section id="filters" hidden style="margin-bottom:10px">
    <form action="/Loans/Search" method="post">
        <div class="row">
            <div class="col-sm-2">
                Movie Name:  @Html.DropDownList("Name", ViewBag.Name as SelectList, htmlAttributes: new { @class = "form-control", @id = "Name" })
            </div>
            <div class="col-sm-2">
                PersonalId:  @Html.DropDownList("PersonalId", ViewBag.PersonalId as SelectList, htmlAttributes: new { @class = "form-control", @id = "PersonalId" })
            </div>
            <div class="col-sm-2">
                Loan Date: <input type="date" name="LoanDate" class="form-control">
            </div>
            <div class="col-sm-2">
                Return Date: <input type="date" name="ReturnDate" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" style="margin-top:16px">
                    Search
                </button>
            </div>
        </div>
    </form>
</section>

<section class="fade-in-animation">

    <h1 id="pageTitle">Loans</h1>
    <section class="table-wrapper card">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>
                        @Html.DisplayNameFor(model => model.Movie.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.PersonalId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoanDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReturnDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-row">
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Movie.Name)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Customer.PersonalId)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.LoanDate)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>

                        <td class="table-cell">
                            @Html.ActionLink(" ", "Edit", new { movieId = item.MovieId, customerId = item.CustomerId, loanDate = item.LoanDate }, new { @class = "glyphicon glyphicon-pencil Icon" })
                            @Html.ActionLink(" ", "Delete", new { movieId = item.MovieId, customerId = item.CustomerId, loanDate = item.LoanDate }, new { @class = "glyphicon glyphicon-trash Icon" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <div class="fab">
        @Html.ActionLink("+", "Create", new Loan(), new { @style = "text-decoration: none; color: white;" })
    </div>
</section>

<script>
    jQuery(document).ready(function ($) {
        $('#expandFilters').click(function () {
            if ($('#filters').css('display') !== 'block') {
               $('#filters').css('display', 'block');
            } else {
                $('#filters').css('display', 'none');
            }
        });
    });
</script>
