<link rel="stylesheet" href="~/css/Loans.css" />

@using Microsoft.AspNetCore.Http;
@model IEnumerable<MovieRental.Models.Loan>

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || (loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER && loggedInUserRoleId != (int)MovieRental.General.Roles.STORE_OWNER))
    {
        Context.Response.Redirect("/Loans/Login");
    }
}

@{
    ViewBag.Title = "Loans";
}

<section class="fade-in-animation">

    <h1 id="pageTitle">Loans</h1>
    <section class="table-wrapper card">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>
                        @Html.DisplayNameFor(model => model.Movie.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.PersonalId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoanDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReturnDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-row">
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Movie.Name)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.Customer.PersonalId)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.LoanDate)
                        </td>
                        <td class="table-cell">
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>

                        <td class="table-cell">
                            @Html.ActionLink(" ", "Edit", new { movieId = item.MovieId, customerId = item.CustomerId, loanDate = item.LoanDate }, new { @class = "glyphicon glyphicon-pencil Icon" })
                            @Html.ActionLink(" ", "Delete", new { movieId = item.MovieId, customerId = item.CustomerId, loanDate = item.LoanDate }, new { @class = "glyphicon glyphicon-trash Icon" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <span style="font-size:20px">
        @Html.ActionLink(" ", "Create", new Loan(), new { @class = "glyphicon glyphicon-plus Icon" })
    </span>
</section>
