@model MovieRental.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

    <section class="fade-in-animation">
        <div class="card movie-card">
            <div class="card-title">
                <h3>@Model.Name</h3>
            </div>
            <div class="card-content">
                <section id="detials-columns-container" class="row">
                    <div id="detials-title-column">
                        <span class="column-text">@Html.DisplayNameFor(model => model.ReleaseDate): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.Genre): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.Producer): </span>
                        <span class="column-text">@Html.DisplayNameFor(model => model.Price): </span>
                    </div>

                    <div id="detials-values-column">
                        <span class="column-text">@Html.DisplayFor(model => model.ReleaseDate) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.Genre.Name) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.Producer.Name) </span>
                        <span class="column-text">@Html.DisplayFor(model => model.Price) </span>
                    </div>
                </section>
            </div>
        </div>
    </section>