@model MovieRental.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<section class="fade-in-animation">
    <div class="card movie-card">
        <div class="card-title">
            <h3>@Model.Name</h3>
        </div>
        <div class="card-content">
            <section class="detials-columns-container">
                <div class="detials-title-column">
                    <span class="column-text">@Html.DisplayNameFor(model => model.ReleaseDate): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.GenreId): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.ProducerId): </span>
                </div>

                <div class="detials-values-column">
                    <span class="column-text">@Html.DisplayFor(model => model.ReleaseDate) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.GenreId) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.ProducerId) </span>
                </div>
            </section>
        </div>
    </div>
</section>