<link rel="stylesheet" href="~/css/Movies.css" />
@using Microsoft.AspNetCore.Http;
@model MovieRental.Models.Movie

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || (loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER && loggedInUserRoleId != (int)MovieRental.General.Roles.STORE_OWNER))
    {
        Context.Response.Redirect("/Movies/Login");
    }
}

@{
    ViewData["Title"] = "Movie Details";
}

<section class="fade-in-animation">
    <div class="card movie-card">
        <div class="card-title">
            <h3>@Model.Name</h3>
        </div>
        <div class="card-content">
            <section id="details-columns-container" class="row">
                <div id="details-title-column">
                    <span class="column-text">@Html.DisplayNameFor(model => model.ReleaseDate): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Genre): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Producer): </span>
                    <span class="column-text">@Html.DisplayNameFor(model => model.Price): </span>
                </div>

                <div id="details-values-column">
                    <span class="column-text">@Html.DisplayFor(model => model.ReleaseDate) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Genre.Name) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Producer) </span>
                    <span class="column-text">@Html.DisplayFor(model => model.Price) </span>
                </div>
            </section>
        </div>
    </div>
    <div id="twitter">
        <textarea id="txtbox" style="width:300px; height:50px" onblur="quotes()" placeholder="Tweet what's new in Our movie rental shops"></textarea>
        <br />
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="none" data-text="">Tweet</a>
    </div>
</section>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
<script>
    function quotes() {
        var txt = document.querySelector('textarea').value;
        var tbutton = document.querySelector('.twitter-share-button');
        if (tbutton) {
            tbutton.parentNode.removeChild(tbutton);
        }
        var newA = document.createElement('a');
        newA.setAttribute('href', 'https://twitter.com/share');
        newA.setAttribute('class', 'twitter-share-button');
        newA.setAttribute('data-url', 'none');
        newA.setAttribute('data-text', txt);
        document.getElementById("twitter").appendChild(newA);
        twttr.widgets.load();
    }
</script>
