<link rel="stylesheet" href="~/css/Movies.css" />
@using Microsoft.AspNetCore.Http;
@model IEnumerable<MovieRental.Models.Movie>

@{
    int? loggedInUserRoleId = Context.Session.GetInt32("LoggedIn");
    if (!loggedInUserRoleId.HasValue
        || (loggedInUserRoleId != (int)MovieRental.General.Roles.MANAGER && loggedInUserRoleId != (int)MovieRental.General.Roles.STORE_OWNER))
    {
        Context.Response.Redirect("/Movies/Login");
    }
}

@{
    ViewBag.Title = "Movies";
}

<section class="fade-in-animation">
    <h1 id="pageTitle">Our Movies</h1>
    <section class="table-wrapper card">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Name) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.ReleaseDate) </span>
                    </th>
                    <th>
                        <span> @Html.DisplayNameFor(model => model.Producer) </span>
                    </th>
                    <th>
                        <span>  @Html.DisplayNameFor(model => model.Genre) </span>
                    </th>
                    <th>
                        <span>  @Html.DisplayNameFor(model => model.Price) </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-row" data-item-id="@item.MovieId">
                        <td class="table-cell">
                            <span> @Html.DisplayFor(modelItem => item.Name) </span>
                        </td>
                        <td class="table-cell">
                            <span> @Html.DisplayFor(modelItem => item.ReleaseDate) </span>
                        </td>
                        <td class="table-cell">
                            <span> @Html.DisplayFor(modelItem => item.Producer) </span>
                        </td>
                        <td class="table-cell">
                            <span> @Html.DisplayFor(modelItem => item.Genre.Name) </span>
                        </td>
                        <td class="table-cell">
                            <span> @Html.DisplayFor(modelItem => item.Price) </span>
                        </td>
                        <td class="table-cell">
                            @Html.ActionLink(" ", "Edit", new { id = item.MovieId }, new { @class = "glyphicon glyphicon-pencil Icon" })
                            @Html.ActionLink(" ", "Delete", new { id = item.MovieId }, new { @class = "glyphicon glyphicon-trash Icon" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <div id="add-movie-fab" class="fab"> + </div>
</section>

<script>
    jQuery(document).ready(function ($) {
        $(".table-row").click(function () {
            window.location = "Movies/Details/" + $(this).data("item-id");
        });

        $("#add-movie-fab").click(function () {
            window.location = "Movies/Create";
        });
    });
</script>